<div ng-controller="AdminController as adminCtrl" ng-hide="loading || currentState != 'admin'">
    <div class="header row">
        <h1 class="page-header topPadding text-center">Admin</h1>
    </div>
    <div class="row">
        <h2 style="display:initial;">Bulk Item Load Tool</h2>
        <button ng-hide="file == null" class="btn" style="margin-top:-15px;margin-left:10px;" ng-click="resetBulkItemLoadTool()">Reset</button>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="row">
                <h3>Step 1</h3>
                <div class="row" style="padding-left:15px;padding-top:15px;">
                    <div class="col-lg-3 col-xs-12">
                        <h6 style="display:initial">Choose a CSV File:</h6>
                    </div>
                    <div class="col-lg-3 col-xs-12">
                        <button ng-disabled="file != null && !invalidFile" class="btn" type="file" style="margin-left:15px;" ngf-select="upload($file, $invalidFile)" ngf-max-height="1000">Select File</button>
                    </div>
                    <div class="col-lg-6 col-xs-12" ng-show="file == null && invalidFile">
                        <span class="label-danger">{{invalidMessage}}</span>
                    </div>
                    <div class="col-lg-12 col-xs-12" style="padding-top:15px;" ng-hide="file == null || invalidFile">
                        <h5 style="display:initial;">{{file.name}}</h5>
                        <i class="fa fa-check-circle" ng-hide="file == null || invalidFile" style="color:green" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="file == null || invalidFile">
                <h3>Step 2</h3>
                <div class="row" style="padding-left:15px;">
                    <div class="col-lg-3 col-xs-12">
                        <h6 style="display:initial;">Clear Items from Mongo:</h6>
                    </div>
                    <div class="col-lg-3 col-xs-12">
                        <button ng-disabled="itemsCleared" class="btn btn-danger" ng-click="clearItems();" style="margin-left:15px;">Clear Items from Mongo</button>
                    </div>
                    <div class="col-lg-12" style="padding-top:15px;" ng-hide="!itemsCleared">
                        <h5 style="display:initial;">Items cleared successfully.</h5>
                        <i class="fa fa-check-circle" style="color:green" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="row" ng-hide="!itemsCleared">
                <h3>Step 3</h3>
                <div class="row" style="padding-left:15px;">
                    <div class="col-lg-3 col-xs-12">
                        <h6 style="display:initial;">Add Items to Mongo:</h6>
                    </div>
                    <div class="col-lg-3 col-xs-12">
                        <button ng-disabled="itemsAdded" class="btn btn-success" ng-click="addItems()" style="margin-left:15px;">Add Items to Mongo</button>
                    </div>
                    <div class="col-lg-12" style="padding-top:15px;" ng-hide="!itemsAdded">
                        <h5 style="display:initial;">Items added successfully.</h5>
                        <i class="fa fa-check-circle" style="color:green" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="!itemsAdded">
                <h3>Step 4</h3>
                <div class="row" style="padding-left:15px;">
                    <div class="col-lg-3 col-xs-12">
                        <h6 style="display:initial;">Download and Format Images in Mongo:</h6>
                    </div>
                    <div class="col-lg-3 col-xs-12">
                        <button class="btn btn-success" ng-disabled="imagesDownloaded" ng-click="downloadAndFormatImages()" style="margin-left:15px;">Download and Format Images</button>
                    </div>
                    <div class="col-lg-12" style="padding-top:15px;" ng-hide="!imagesDownloaded">
                        <h5 style="display:initial;">Items added successfully.</h5>
                        <i class="fa fa-check-circle" style="color:green" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" hidden="true">
            <h3>JSON</h3>
            <textarea style="width:100%; min-height:200px; resize:both;">{{jsonData}}</textarea>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <h2>Environments</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-4">
                <h3>DEV</h3>
                <button class="btn btn-danger" ng-click="clearItems('DEV');" style="margin-left:15px;">Clear Items from Mongo - DEV</button><br/>
                <button class="btn btn-success" style="margin:15px;" ng-disabled="hasSynced('DEV')" ng-click="syncItemsFromLocalMongo('DEV')">Sync Items from Local Mongo - DEV</button>
            </div>
            <div class="col-lg-4 col-xs-4">
                <h3>QA</h3>
                <button class="btn btn-danger" ng-click="clearItems('QA');" style="margin-left:15px;">Clear Items from Mongo - QA</button><br/>
                <button class="btn btn-success" style="margin:15px;" ng-disabled="hasSynced('QA')" ng-click="syncItemsFromLocalMongo('QA')">Sync Items from Local Mongo - QA</button>
            </div>
            <div class="col-lg-4 col-xs-4">
                <h3>PROD</h3>
                <button class="btn btn-danger" ng-click="clearItems('PROD');" style="margin-left:15px;">Clear Items from Mongo - PROD</button>
                <button class="btn btn-success" style="margin:15px;" ng-disabled="hasSynced('QA')" ng-click="syncItemsFromLocalMongo('PROD')">Sync Items from Local Mongo - PROD</button>
            </div>
        </div>
    </div>
</div>


