<div ng-controller="ChooseCategoryController as chooseCategoryCtrl" class="topPadding text-center" ng-hide="loading || currentState != 'chooseCategory'">
    <div class="row" class="text-center" style="max-width:75%; margin-left:auto; margin-right:auto;">
        <h1 class="jumbotron" style="padding:20px;">Pick a category!</h1>
    </div>
    <div class="row" class="text-center" style="max-width:75%; margin-left:auto; margin-right:auto;">
        <img src="../assets/Images/hatch.gif" style="max-width:75%" />
    </div>
    <div class="row text-center" style="padding:15px; vertical-align: center; display:inline-block;">
    	<select ng-model="selectedCategory" class="form-control" style="max-width:300px;">
    		<option ng-repeat="category in categories track by $index" value="{{category}}">{{category.categoryName}}</option>
    	</select>
    </div>
    <div class="row">
    	<button class="btn btn-success" ng-click="viewGame()">Choose Category</button>
    </div>
</div>