<div ng-controller="GameController as itemCtrl" ng-hide="loading || currentState != 'game'">
    <!--Item 1-->
    <div class="col-sm-6 padded" ng-repeat="item in CurrentItems.itemSet track by $index">
        <!--Name-->
        <div class="row" style="min-height: 50px; padding-top:25px;">
            <span class="label-important vertical-center" ng-style="getStyle(item.front)">{{ item.front }}</span>
        </div>
        <!--Flipper - Item-->
        <div class="item">
            <div class="flip">
                <!--Card-->
                <div class="card" my-flip="item.flipped" after-Flip="afterFlip()" after-Flop="afterFlop()" ng-click="imgClick($index)">
                    <!--Front of the Card-->
                    <div class="face front">
                        <!--Actual Image-->
                        <img class="image img-responsive img-thumbnail" ng-src="data:image/jpeg;base64,{{ item.imageData }}" />
                    </div>
                    <!--Back of the Card-->
                    <div class="face back">
                        <div ng-class="{'correct':item.correct, 'incorrect':!item.correct}">
                            <div class="vertical-center">
                                <!--Needed for Vertical-Center CSS-->
                                <div class="container">
                                    <div class="row correctHeader">
                                        <span>{{(item.correct ? "Correct!" : "Incorrect...")}}</span>
                                    </div>
                                    <div class="row correctMessage" >
                                        <span>{{item.back}} ({{item.date}}) was {{item.verb}} {{(item.correct ? "before" : "after")}} {{(CurrentItems.itemSet[0] == item ? CurrentItems.itemSet[1].back + " (" + CurrentItems.itemSet[1].date + ")" : CurrentItems.itemSet[0].back + " (" + CurrentItems.itemSet[0].date + ")")}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
