<div class="text-center">
    <!--Title-->
    <h1 class="bg-primary">ChOrEgg</h1>
    <!--Items-->
    <div class="row">
        <!--Item 1-->
        <div class="col-md-6" ng-repeat="item in Items track by $index">
            <!--Name-->
            <h2 class="modal-header">{{ item.name }}</h2>
            <!--Flipper - Item-->
            <div class="item">
                <div class="flip">
                    <!--Card-->
                    <div class="card" my-flip="item.flipped" after-Flip="afterFlip()" after-Flop="afterFlop()" ng-click="imgClick($index)">
                        <!--Front of the Card-->
                        <div class="face front">
                            <!--Actual Image-->
                            <img class="image img-responsive img-thumbnail" ng-src="{{ item.image }}" />
                        </div>
                        <!--Back of the Card-->
                        <div class="face back">
                            <div ng-class="{'correct':item.correct, 'incorrect':!item.correct}">
                                <div class="vertical-center">
                                    <!--Needed for Vertical-Center CSS-->
                                    <div class="container">
                                        <div class="row">
                                            <h1>{{(item.correct ? "Correct!" : "Incorrect...")}}</h1>
                                        </div>
                                        <div class="row">
                                            <span>{{item.name}} ({{item.date}}) was born {{(item.correct ? "before" : "after")}} {{(Items[0] == item ? Items[1].name + " (" + Items[1].date + ")" : Items[0].name + " (" + Items[0].date + ")")}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Score: {{Score}}</h1>
    </div>
</div>