<div ng-controller="MainController as mainCtrl">
    <audio id="mainMusic" autoplay="autoplay" controls="controls" hidden="true">
        <source src="../assets/Sounds/mainMusic.ogg" />
        <source src="../assets/Sounds/mainMusic.mp3" />
    </audio>
    <div class="container-fluid">
        <!--Title-->
        <div ng-include="'views/navbar.html'"></div>
    </div>
    <div class="container-fluid">
        <!--Loader-->
        <div ng-include="'views/loader.html'"></div>
    </div>
    <!--Items-->
    <div class="container-fluid text-center topPadding" ng-hide="loading || (currentState != 'game')">
        <div class="row">
            <div ng-include="'views/game.html'"></div>
        </div>
        <div class="row" style="margin-top:-10px;">
            <div ng-include="'/views/timer.html'"></div>
        </div>
        <div class="row" style="margin-top:-10px;">
            <div ng-include="'/views/hud.html'"></div>
        </div>
    </div>
    <div class="container-fluid" ng-hide="loading || (currentState != 'profile')">
        <div ng-include="'views/profile.html'"></div>
    </div>
    <div class="container-fluid" ng-hide="loading || (currentState != 'leaderboard')">
        <div ng-include="'views/leaderboard.html'"></div>
    </div>
    <div class="container-fluid" ng-hide="loading || (currentState != 'splash')">
        <div ng-include="'views/splash.html'"></div>
    </div>
    <div class="container-fluid" ng-hide="loading || (currentState != 'chooseCategory')">
        <div ng-include="'views/chooseCategory.html'"></div>
    </div>
    <div class="container-fluid" ng-hide="loading || (currentState != 'chooseMode')">
        <div ng-include="'views/chooseMode.html'"></div>
    </div>
    <!--Footer-->
    <div class="container-fluid">
        <div ng-include="'views/footer.html'"></div>
    </div>
</div>