<div style="text-align: center" ng-controller="NavbarController as navCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" style="max-width: 75%; display:block; margin-left: auto; margin-right: auto;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" ng-click="viewSplash()">
                    <img style="max-width: 35px; margin-top: -7px; border-radius: 5px;" src="../assets/Images/logo.jpg" />
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-click="viewSplash()">ChOrEgg</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-hide="currentState != 'game'">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Select One</li>
                            <li ng-class="{'active':isActiveCategory(category)}" ng-repeat="category in categories track by $index"><a href="#" ng-click="categoryChange(category)">{{category.categoryName}}<i class="fa" ng-class="handleCategoryIcons(category)" style="float:right"></i></a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-hide="currentState != 'game'">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Difficulty</li>
                            <li ng-class="{'active':isActiveDifficulty(difficulty)}" ng-repeat="difficulty in difficulties track by $index"><a href="#" ng-click="difficultyChange(difficulty)">{{difficulty.difficultyName}}<i class="fa fa-asterisk" ng-style="handleDifficultyColor(difficulty)" style="float:right"></i></a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Mode</li>
                            <li ng-class="{'active':isActiveMode(mode)}" ng-repeat="mode in modes track by $index"><a href="#" ng-click="modeChange(mode)">{{mode}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{{(username != "" && username != null ? username : "Account")}}</li>
                            <li ng-hide="(currentState == 'admin' && environment == 'LOCAL')"><a href="#" ng-click="viewAdmin()"><i class="fa fa-user"></i><span style="padding-left:15px">Admin</span></a></li>
                            <li ng-hide="(!signedIn || currentState =='profile')"><a href="#" ng-click="viewProfile()"><i class="fa fa-user"></i><span style="padding-left:15px">Profile</span></a></li>
                            <li ng-hide="currentState == 'leaderboard'"><a href="#" ng-click="viewLeaderboard()"><i class="fa fa-trophy" aria-hidden="true"></i><span style="padding-left:15px;">Leaderboard</span></a></li>
                            <li ng-hide="(currentState == 'game')"><a href="#" ng-click="viewChooseCategory()"><i class="fa fa-play-circle-o"></i><span style="padding-left:15px">Play</span></a></li>
                            <li ng-hide="signedIn"><a href="#" ng-click="login()"><i class="fa fa-sign-in"></i><span style="padding-left:15px">Login</span></a></li>
                            <li ng-hide="!signedIn"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i><span style="padding-left:15px">Logout</span></a></li>
                            <li ng-hide="currentState !== 'game'" class="divider"></li>
                            <li ng-hide="currentState != 'game'" class="dropdown-header">Options</li>
                            <li ng-hide="(isPaused || currentState != 'game')"><a href="#" ng-click="pause()"><i class="fa fa-pause-circle"></i><span style="padding-left:15px">Pause</span></a></li>
                            <li ng-hide="(!isPaused || currentState != 'game')"><a href="#" ng-click="resume()"><i class="fa fa-play"></i><span style="padding-left:15px">Resume</span></a></li>
                            <li ng-hide="(!isPlaying)"><a href="#" ng-click="setMusic('off')"><i class="fa fa-volume-off" style="padding-left:2px;"></i><span style="padding-left:15px">Music Off</span></a></li>
                            <li ng-hide="(isPlaying)"><a href="#" ng-click="setMusic('on')"><i class="fa fa-volume-up" style="padding-left:2px;"></i><span style="padding-left:15px">Music On</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>