<div ng-controller="ProfileController as profile" class="topPadding">
    <h1 class="page-header text-center">Profile Information</h1>
    <div class="row">
        <!--Account Information-->
        <div class="col-lg-6 col-xs-6">
            <h3 class="fa-header">Account Information</h3>
            <ul>
                <li>
                    <strong>Username:</strong><br/>
                    <span style="padding-left:10px;">{{user.username}}</span>
                </li>
                <li style="padding-top:10px;">
                    <strong>Account Created:</strong><br/>
                    <span style="padding-left:10px;">{{user.createdDate}}</span>
                </li>
                <li style="padding-top:10px;">
                    <strong>Last Sign In:</strong><br/>
                    <span style="padding-left:10px;">{{user.lastSignInDate}}</span>
                </li>
            </ul>
        </div>
        <!--Stats-->
        <div class="col-lg-6 col-xs-6">
            <h3 class="fa-header">Stats</h3>
            <ul>
                <li>
                    <strong>High Score:</strong><br/>
                    <span style="padding-left:10px;">{{user.highScore}}</span>
                </li>
                <li style="padding-top:10px;">
                    <strong>Rounds Played:</strong><br/>
                    <span style="padding-left:10px;">{{user.totalRoundsPlayed}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>


