<div class="text-center" ng-controller="ProfileController as profile" class="topPadding">
    <h1 class="page-header topPadding">Profile Information</h1>
    <div class="row text-center" style="margin-top:-20px;">
        <div class="col-lg-6 col-xs-6">
            <h3 class="fa-header">Account Information</h3>
        </div>
        <div class="col-lg-6 col-xs-6">
            <h3 class="fa-header">Stats</h3>
        </div>
    </div>
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-6 col-xs-6">
            <strong>Username:</strong><br/>
            <span style="padding-left:10px;">{{user.username}}</span>
        </div>
        <div class="col-lg-6 col-xs-6">
            <strong>High Score:</strong><br/>
            <span style="padding-left:10px;">{{user.highScore}}</span>
        </div>
    </div>
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-6 col-xs-6">
            <strong>Account Created:</strong><br/>
            <span style="padding-left:10px;">{{user.createdDate}}</span>
        </div>
        <div class="col-lg-6 col-xs-6">
            <strong>Rounds Played:</strong><br/>
            <span style="padding-left:10px;">{{user.totalRoundsPlayed}}</span>
        </div>
    </div>
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-6 col-xs-6">
            <strong>Last Sign In:</strong><br/>
            <span style="padding-left:10px;">{{user.lastSignInDate}}</span>
        </div>
        <div class="col-lg-6 col-xs-6">
            <span/>
        </div>
    </div>
</div>


