<div ng-controller="SplashController as splashCtrl" class="topPadding text-center" ng-hide="loading || currentState != 'splash'">
    <div class="row" class="text-center" style="max-width:75%; margin-left:auto; margin-right:auto;">
        <h1 class="jumbotron" style="padding:20px;">Welcome to ChOrEgg!!</h1>
    </div>
    <div class="row" class="text-center" style="max-width:75%; margin-left:auto; margin-right:auto;">
        <img src="../assets/Images/hatch.gif" style="max-width:75%" />
    </div>
    <div class="row" style="padding-top:15px">
        <button class="btn btn-large" style="background-color:lightgoldenrodyellow;" ng-click="viewChooseCategory()"><span style="font-weight: bold;" class="playGameButton"><u>Play Game!</u> </span> <img class="eggImage" src="../assets/Images/eggIcon.png"/></button>
    </div>
</div>