.image {
    width: 100%;
    height: 100%;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}

.navbar {
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius: 15px;
    margin: 10px;
}

.item {
    height:400px;
}

.scoreLabel {
    font-size:24px;
    line-height:2em;
}

.bg-primary {
    padding-top:10px;
    padding-bottom:10px;
}

body {
    background-color: #7FC8D9;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}

.game-start-button {
    max-width:240px;
}

.playGameButton {
    font-size:42px;
}

.game-category-button {
    border-radius: 10px;
    background-color:yellow;
    color: black;
    padding:10px;
    margin: 20px;
    font-size:26px;
}

.vertical-center {
    height:100%;
    width:100%;

    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: " ";
    display: inline-block;
    vertical-align: middle;    /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .container {
    max-width: 100%;

    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    /* reset the font property */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.flip {
    -webkit-perspective: 800px;
    width: 100%;
    height: 100%;
    position: relative;
    padding-right:30px;
    padding-left:30px;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    color: white;

}
.flip .card .front {
    position: absolute;
    z-index: 1;
    height:100%;
    width:100%;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

.flip .card .back .correct {
    height:100%;
    width:100%;
    background-color: green;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;

}

.flip .card .back .incorrect {
    height:100%;
    width:100%;
    background-color: red;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}

.correctHeader {
    font-size:36px;
    font-weight: bold;
    padding-bottom: 5px;
}

.correctMessage {
    font-size: 20px;
    padding: 15px;
}

.padded {
    padding-bottom:15px;
}

.topPadding {
    margin-top:60px;
}

.centered {
    position: fixed;
    top: 25%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.label {
    font-size: 36px;
}

.label-important {
    font-size: 36px;
}

.fa-custom {
    font-size:5em;
}

.eggImage {
    max-height:50px;
    margin-top:-20px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 1200px) {
    .item {
        height: 300px;
    }
}

/*Mobile*/
/*iPhone6+*/
@media screen and (max-width : 800px) {
    .item {
        height: 220px;
    }

    .label {
        font-size: 24px;
    }

    .label-important {
        font-size: 24px;
    }

    .footer-text {
        font-size:14px;
    }

    .scoreLabel {
        font-size: 23px;
    }

    .game-start-button {
        max-width:120px;
    }

    .jumbotron {
        font-size:20px;
    }

    .fa-custom {
        font-size:2em;
    }

    h4 {
        font-size:16px;
    }

    .playGameButton {
        font-size:36px;
    }

    /*Web - App View*/
    @media screen and (max-height: 740px) and (min-height: 631px) {
        .navbar {
            margin-top:20px;
        }
    }

    /*Mobile Safari (with URL bars) View*/
    @media screen and (max-height:630px) {
        .item {
            height: 180px;
        }

        h4 {
            font-size:16px;
        }

        .label {
            font-size: 20px;
        }

        .label-important {
            font-size: 20px;
        }

        .footer-text {
            font-size:10px;
        }

        .col-lg-6 {
            margin-top:-5px;
        }

        .col-xs-6 {
            margin-top:-5px;
        }

        .label {
            font-size:18px;
        }

        .scoreLabel {
            line-height: 1.5em;
        }

        .label-important {
            font-size:18px;
        }

        .hudDiv {
            padding-top:5px;
        }

        .redX {
            height:24px;
            width: 24px;
        }

        .fa-custom {
            font-size:1.5em;
        }

        .playGameButton {
            font-size:24px;
        }

        .eggImage {
            max-height:35px;
            margin-top:-10px;
        }
    }

    @media screen and (max-width : 400px) {
        .item {
            height: 160px;
        }
    }

    @media screen and (max-width : 375px) {
        /*iPhone5*/
        @media screen and (max-height: 667px) and (min-height:560px) {
            .jumbotron {
                font-size:18px;
            }

            .fa-custom {
                font-size:1.5em;
            }

            /*Web App View*/
            .navbar {
                margin-top:20px;
            }

            .footer-text {
                font-size:12px;
            }

            h4 {
                font-size:16px;
            }

            .label-important {
                font-size:20px;
            }

            label {
                font-size:18px;
            }

            .item {
                height: 200px;
            }

            .correctHeader {
                font-size: 24px;
            }

            .correctMessage {
                font-size: 16px;
            }

            .scoreLabel {
                font-size:16px;
                line-height:1.5em;
            }
        }

        /*Safari URL View with Bars*/
        @media screen and (max-height:559px) {
            .item {
                height:140px;
            }

            .correctHeader {
                font-size:20px;
            }

            .correctMessage {
                font-size: 14px;
            }

            .label {
                font-size:16px;
            }
        }

        /*iPhone4*/
        @media screen and (max-height: 568px){
            .jumbotron {
                font-size:14px;
            }

            .item {
                height: 150px;
            }

            .correctHeader {
                font-size: 20px;
            }

            .correctMessage {
                font-size: 12px;
            }

            .playGameButton {
                font-size:14px;
            }

            .eggImage {
                max-height:25px;
                margin-top:-5px;
            }

            @media screen and (max-height: 460px) {
                .jumbotron {
                    font-size:14px;
                }

                .item {
                    height:100px;
                }
            }
        }
    }
}